<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    
    @*<script>
        window.guestId = '@Html.Raw(ViewData["GuestId"])';
    </script>*@
</head>
<body>

    @*<nav class="navbar navbar-inverse navbar-fixed-top">
                    @await Html.PartialAsync("_LoginPartial")
        </nav>*@

    @RenderBody()
    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
